*{border:0;font:inherit;font-size:100%;
  vertical-align:baseline;margin:0;padding:0}
  body{background-color:#191919;font:normal
    14px monospace;color:#bebebe}
    h1,h2{font-weight:700}header{margin-bottom:20px}a{color:#bebebe}
    li{margin-left:40px}em{font-style:italic}
    strong{font-weight:700}ol,p,ul{margin:20px}
    pre{margin-bottom:20px;padding:20px 5px;overflow-x:auto}
    pre code{word-wrap:no}hr{display:block;margin-top:.5em;margin-bottom:.5em;
      margin-left:auto;margin-right:auto
      ;border-style:inset;border-width:1px}
    #nav{padding:20px 5px}#content,#nav,

    footer{margin:0 20px;max-width: 650px}

    #nav h1{margin-bottom:20px}iframe{margin:20px;max-width:530px}
    #content img{max-width:100%}
    #title{margin-top:40px;font-weight:700;text-align:center}
    #date{display:block;text-align:right}
